
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>
        <input type="text" name="name" value="" />
    </p>
    <p>
        <input type="button" id="send" value="送出" />
    </p>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $("#send").click(function () {
            $.ajax({
                type: 'POST',
                url: "/Home/Hello",
                data: { name: $("#name").val() },
                success: function (result) {
                    alert(JSON.stringify(result));
                },
                error: function (xhr, textStatus, thrownError) {
                    alert(textStatus);
                }
            });
        });
    });
</script>